.centered-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 40px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    max-width: 400px;

}
.centered-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2, h3 {
    color: #fff;
}

.search-bar input,
.add-item input {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}

.item-list li {
    margin-bottom: 10px;
}
