.carousel-container {
  max-width: 100%; 
  height: 500px;
}

.carousel-img {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

.carousel-caption h5,
.carousel-caption p {
  color: #59338A;
  text-shadow: 2px 2px 2px #ffffff;
  font-weight: bold;
  font-size: 20px;
}
