.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1C222A; 
  }
  
  .card {
    background: linear-gradient(135deg, #A142AB, #C75D93);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 400px;
  }
  
  .card-header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .username {
    margin-bottom: 30px;
  }
  
  .password { 
    margin-bottom: 30px;
  }
  
  .login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252263;
    color: white;
    width: 150px; 
    height: 40px; 
    border-radius: 10px; 
    margin: 0 auto; 
    font-size: 1.2em;
  }
  
  .register-link {
    font-size: 1.1em; 
    margin-top: 20px; 
    margin-left: 10px;
  }
  